<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

    <title>{% block page_title %}{% endblock %} | Brother QL</title>
  </head>
  <body>
    <h1>{% block page_headline %}{% endblock %}</h1>
    {% block content %}{% endblock %}

    <!-- jQuery first, then Bootstrap JS. -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    <script type="text/javascript">
      {% block javascript %}{% endblock %}
    </script>
  </body>
</html>

