#statusBox.alert {
  margin-bottom: 0;
}

.alert .glyphicon{
  display:table-cell;
}

.alert div,
.alert span{
  padding-left: 10px;
  display:table-cell;
}

textarea#labelText {
  resize: none;
}

.roundPreviewImage {
    border-radius: 100%;
}